/* Impress fallback message hiding if supported */
.impress-supported .fallback-message {
    display: none;
}

/* Text styling */
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
p {
    font-size: 3rem;
}

/* Step Styling */
.step {
    width: 100vw;
}