/* Impress fallback message hiding if supported */
.impress-supported .fallback-message {
    display: none;
}

/* Text styling */
h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

li,
p {
    font-size: 3rem;
}

ul {
    line-height: 3.5rem;
}

/* Step Styling */
.step {
    width: 100vw;
}

/* Make inactive steps a bit transparent */
.impress-enabled .step {
    opacity: 0.1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1;
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}